<div class="container">
  <div class="jumbotron">
    <div class="panel panel-primary header">
      <h3>My Items List</h3>
      <a routerLink="/listings">
        <button class="btn btn-warning">Back</button>
      </a>
    </div>
    <div class="panel panel-body">
      <div class="list-group">
        <div class="list-group-item" *ngFor="let item of myListings; let i=index;">
          <h3>{{item.id}}.{{item.name}}</h3>
          <p>{{item.description}}</p>
          <p>{{item.price | currency}}</p>
          <a class="routerLinkActive" routerLink="/edit-listing/{{item.id}}">
            <button class="btn btn-success">Edit</button>
          </a>
          <button class="btn btn-danger" (click)="deleteEntry(i)">Delete</button>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a class="routerLinkActive" routerLink="/new-listing">
        <button class="btn btn-default">Create New Listing</button>
      </a>
    </div>
  </div>
</div>
